__pycache__/
*.pyc
.env
data/raw/
mlruns/
*.joblib
.DS_Store
*.egg-info/
.venv/
mlflow.db
reports/
k8s/local/taxi-secret.yaml
k8s/local/taxi-pvc.yaml
k8s/local/loader-pod.yaml
.terraform/
*.tfstate
*.tfstate.*